<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médicos Traumatologia do Antonio Prudente Fortaleza</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                {{#if session.userid}}
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/medicos">Médicos</a></li>
                    <li><a href="/logout">Sair</a></li>
                {{else}}
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>