<div class="add-medico-container">
    <div class="add-medico">
        <div class="add-medico-title">
            <h1>Adiconar Médicos</h1>
        </div>
        <form action="/add" method="post">
            <div class="head-trio">
                <div class="head-medico">
                    <label for="name">Nome</label>
                    <input type="text" name="name" placeholder="Nome do médico" required>
                </div>
                <div class="head-especialidade">
                    <label for="speciality">Especialidade</label>
                    <select name="speciality">
                        <option>Selecione Especialidade</option>
                        <option value="overall">Geral</option>
                        <option value="arm">Braço</option>
                        <option value="knee">Joelho</option>
                        <option value="shoulder">Mão</option>
                        <option value="shoulder">Ombro</option>
                        <option value="foot">Pé</option>
                    </select>
                </div>
                <div class="head-turno">
                    <label for="time">Turno</label>
                    <select name="time">
                        <option value="morning">Manhã</option>
                        <option value="afternoon">Tarde</option>
                        <option value="night">Noite</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="monday">Segunda-Feira</label>
                    <input type="checkbox" name="monday-check">
                </div>
                <div>
                    <select name="monday-frequency" class="monday-select">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="tuesday">Terça-Feira</label>
                    <input type="checkbox" name="tuesday-check" id="">
                </div>
                <div>
                    <select name="tuesday-frequency">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="wednesday">Quarta-Feira</label>
                    <input type="checkbox" name="wednesday-check" id="">
                </div>
                <div>
                    <select name="wednesday-frequency">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="thursday">Quinta-Feira</label>
                    <input type="checkbox" name="thursday-check" id="">
                </div>
                <div>
                    <select name="thursday-frequency">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="friday">Sexta-Feira</label>
                    <input type="checkbox" name="friday-check" id="">
                </div>
                <div>
                    <select name="friday-frequency">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="saturday">Sábado</label>
                    <input type="checkbox" name="saturday-check" id="">
                </div>
                <div>
                    <select name="saturday-frequency">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="head-dia">
                <div class="head-dia-acording">
                    <label for="sunday">Domingo</label>
                    <input type="checkbox" name="sunday-check" id="">
                </div>
                <div>
                    <select name="sunday-frequency">
                        <option>Selecione Frequencia</option>
                        <option value="weekly">Semanal</option>
                        <option value="biweekly">Quinzenal</option>
                    </select>
                </div>
            </div>
            <div class="btn-add-medico-container">
                <input type="submit" value="Enviar" class="btn-add-medico">
            </div>
        </form>
    </div>
</div>




