<div class="add-medico-container">
    <div class="add-medico">
        <div class="add-medico-title">
            <h1>Adiconar Médico</h1>
        </div>
        <form action="/adicionarmedico" method="post">
            <div class="head-trio">
                <div class="head-medico">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" placeholder="Nome do médico">
                </div>
                <div class="head-especialidade">
                    <label for="especialidade">Especialidade</label>
                    <select name="especialidade">
                        <option value="geral">Geral</option>
                        <option value="joelho">Joelho</option>
                        <option value="mao">Mão</option>
                        <option value="ombro">Ombro</option>
                        <option value="pe">Pé</option>
                        <option value="coluna">Coluna</option>
                    </select>
                </div>
            </div>
            <div class="head-trio">
                <div class="head-turno">
                    <label for="dia">Dia da Semana</label>
                    <select name="dia">
                        <option value="domingo">Domingo</option>
                        <option value="segunda">Segunda</option>
                        <option value="terca">Terça</option>
                        <option value="quarta">Quarta</option>
                        <option value="quinta">Quinta</option>
                        <option value="sexta">Sexta</option>
                        <option value="sabado">Sábado</option>
                    </select>
                </div>
                <div class="head-turno">
                    <label for="turno">Turno</label>
                    <select name="turno">
                        <option value="manha">Manhã</option>
                        <option value="tarde">Tarde</option>
                        <option value="noite">Noite</option>
                    </select>
                </div>
                <div class="head-turno">
                    <label for="frequencia">Frequência</label>
                    <select name="frequencia">
                        <option value="quinzenal">Quinzenal</option>
                        <option value="semanal">Semanal</option>
                    </select>
                </div>
            </div>

            <div class="btn-add-medico-container">
                <input type="submit" value="Enviar" class="btn-add-medico">
            </div>
        </form>
    </div>
</div>




