<div class="escala-medica-container"> 
    <div class="escala-medica">
        <h1>Manhã</h1>
        <div class="tabelas-medicas-semana">
            <div class="dia-semana">
                <h2>Domingo</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Segunda</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Terça</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Quarta</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Quinta</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Sexta</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Sábado</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <h1>Tarde</h1>
        <div class="tabelas-medicas-semana">
            <div class="dia-semana">
                    <h2>Domingo</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
            <div class="dia-semana">
                    <h2>Segunda</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
            <div class="dia-semana">
                    <h2>Terça</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
            <div class="dia-semana">
                    <h2>Quarta</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
            <div class="dia-semana">
                    <h2>Quinta</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
            <div class="dia-semana">
                    <h2>Sexta</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
            <div class="dia-semana">
                    <h2>Sábado</h2>
                    <ul>
                        <li></li>
                    </ul>
            </div>
        </div>
        <h1>Noite   </h1>
        <div class="tabelas-medicas-semana">
            <div class="dia-semana">
                <h2>Domingo</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Segunda</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Terça</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Quarta</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Quinta</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Sexta</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="dia-semana">
                <h2>Sábado</h2>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>